body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Big Caslon";
}

nav{
	position: fixed;
	width: 100%;
	height: 5vh;
	z-index: 1;
}
nav ul{
	list-style: none;
	background: #fefefa;
	overflow: hidden;
	color: #9D246B;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: 1s;
	font-weight: bold;
}
nav.white ul{
	background: #fefefa;
}
nav ul li{
	display: inline-block;
	padding: 20px;
}
nav ul li a{
	text-decoration: none;
	color: #9D246B;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.menu-icon{
	width: 100%;
	background: #fefefa;
	text-align: right;
	box-sizing: border-box;
	padding: 15px;
	cursor: pointer;
	color: #9D246B;
	display: none;
}

@media(max-width: 1000px){
	.rlogo{
		position: fixed;
		top: 0px;
		left: 0px;
		max-width: 95px;
		height: auto;
	}
	nav ul{
		max-height: 0px;
		background: #fefefa;
	}
	nav.white ul{
		background: #fefefa;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
	.menu-icon{
		display: block;
	}
}
.space{
	display: block;
	padding: 40px;
}
.section{
	margin-top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	/*background-image: url("images/header1.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;

}
.section::before {
  content: "";
  padding-top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("images/header1.jpg");
  background-size: cover;
  animation: slide 15s infinite; 
  background-position: center center;
  z-index: -1;
  /*filter: grayscale(100%);*/
  background-attachment: fixed;
  background-position: 70% 0%;
}
.image-overlay {
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(#000, #1b1e23, transparent);
  background: rgba(0,0,0,0.6);*/
}
.content{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	text-align: center;
}
.rlogo {
	position: fixed;
	top: -15px;
	left: 0px;
	width: 120px;
	height: auto;

}
.content h3{
	color: #CAC4D0 !important;
	font-size: 2vw;
	letter-spacing: 10px;
	text-shadow: 2px 2px 2px #000;
}
.content p{
	color: #681C48;
	font-size: 1.5vw;
	letter-spacing: 2px;
}
.content hr{
	width: 100%;
	color: #3A1E2C;
	font-size: 1em;
	letter-spacing: 2px;
}

@keyframes slide{
	0%{
		background-image: url("images/header2.jpg");
		background-position: 70% 0%;
	}
	20%{
		background-image: url("images/header2.jpg");
		background-position: 70% 0%;
	}
	40%{
		background-image: url("images/header3.jpg");
		background-position: 70% 0%;
	}
	60%{
		background-image: url("images/header4.jpg");
		background-position: 70% 0%;
	}
	80%{
		background-image: url("images/header1.jpg");
		background-position: 70% 0%;
	}
}
.bcol{
	display: block;
	width: 200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.b-coll{
	display: block;
	background: none repeat scroll 0 0 #fff;
}
.b-coll h3{
	
	padding: 2px;
	color: #9D246B !important;
	font-size: 2vw;
	letter-spacing: 10px;
	text-shadow: 1px 1px 1px #CAC4D0;
	text-transform: uppercase;
	text-align: center;
}
.bcontent img{
	padding: 10px;
	height: auto;
	width: 250px;
	display: inline-block;
	position: relative;
    display: table;

}

.bcontent p{
	color: #681C48;
	font-size: 1.5vw;
	letter-spacing: 1px;
	margin-top: 20px;
	text-shadow: 1px #000;
}
@media(max-width: 700px){
	.bcol{
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-width: 100px;
		height: auto;
	}
	.b-coll h3{
		padding: 2px;
		color: #9D246B !important;
		font-size: 3vw;
		letter-spacing: 7px;
		text-shadow: 1px 1px 1px #CAC4D0;
		text-transform: uppercase;
		text-align: center;
	}
	.bcontent img{
		padding: 30px;
		margin-left: auto;
  		margin-right: auto;
 		width: 50%;
		display: block;

	}
	.bcontent .img1{
		display: none;
	}
	.bcontent p{
		color: #681C48;
		font-size: 3vw;
		letter-spacing: 1px;
		margin-top: 20px;
		text-shadow: 1px #000;
		left: 30%;
		right: 30%;
	}
}

.btncont {
  padding: 10px;
}
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 1px solid #681C48;
  color: #681C48;
  display: block;
  font-size: 15px;
  margin: 12px auto;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  font-family: "Big Caslon";
  letter-spacing: 1px;
  transition: all 400ms ease-in-out;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
  background: #681C48;
}
@media(max-width: 700px){
	button{
		font-size: 12px;
	}

}
.wnew h3{
	
	padding: 2px;
	color: #9D246B !important;
	font-size: 2vw;
	letter-spacing: 10px;
	text-shadow: 1px 1px 1px #CAC4D0;
	text-transform: uppercase;
	text-align: center;
}
.newcont{
	padding: 30px;
	margin-left: auto;
  	margin-right: auto;
 	width: 75%;
	display: block;

}
.newcont img{
	padding: 30px;
	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
	display: block;
}
.newcont p{
	color: #681C48;
	font-size: 1.5vw;
	letter-spacing: 1px;
	margin-top: 20px;
	text-shadow: 1px #000;
}
@media(max-width: 700px){
	.wnew h3{
		padding: 2px;
		color: #9D246B !important;
		font-size: 3vw;
		letter-spacing: 4px;
		text-shadow: 1px 1px 1px #CAC4D0;
		text-transform: uppercase;
		text-align: center;
	}
	.newcont p{
		color: #681C48;
		font-size: 3vw;
		letter-spacing: 1px;
		margin-top: 1px;
		text-shadow: 1px #000;
	}
}
.accordion {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0px auto;
  z-index: -1;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease-in-out;
  z-index: -1;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 350px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fefefa;
  text-shadow: 1px 1px 2px #000;
  /*filter: invert(100%);*/
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 300ms ease-in-out;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;

}

.accordion ul li div a p {
  top: 160px;
  font-size: 18px;
  padding-left: 1em;
}

.accordion ul li:nth-child(1) { 
  background-image: url("images/sab1.jpg"); 
  background-position: 50% 10%;
}

.accordion ul li:nth-child(2) { 
  background-image: url("images/sab2.jpg"); 
 background-position: 70% 0%;
}

.accordion ul li:nth-child(3) { 
  background-image: url("images/sab3.jpg"); 
background-position: 50% 0%;
}

.accordion ul li:nth-child(4) { 
  background-image: url("images/sab4.jpg"); 
  background-position: 70% 0%;
}

.accordion ul li:nth-child(5) { 
  background-image: url("images/sab5.jpg"); 
  background-position: 70% 10%;
}

.accordion ul li:nth-child(6) { 
  background-image: url("images/nsab1.jpg"); 
  background-position: 60% 20%;
}

.accordion ul li { background-size: cover; }
.accordion ul:hover li { width: 10%; }
.accordion ul:hover li:hover { width: 90%; }

/*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 @media screen and (max-width: 680px) {
  
  body { margin: 0; }
  .accordion { height: auto; }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  .accordion ul li div a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fff;
  background-color: #3A1E2C;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #fff;
  border-radius: 100px;
  color: #999;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}